div.presets {
    width: 100%;
    color: white;
    font-weight: 600;
    font-family: Open Sans, sans-serif;
    font-size: 28px;
}
.presets p {
    display: block;
    clear: both;
    width: 100%;
    height: 5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.presets p.button {
    background-color: darkgreen;
    color: white;
    border-radius: 1rem;
}

.presets p.current {
    border-style: inset;
    border-width: 5px;
}
