div.receiveContainer {
  display: block;
  clear: both;
  min-width: 750px;
}

div.receiveSliderContainer {
  float: left;
  width: 85%;
}

.muteContainer {
  float: left;
  height: 6rem;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
}

.muteContainer img {
  width: 6rem;
}

.receiveSliderContainer input[type='range']::before {
  position: absolute;
  left: 4em;
  content: attr(data-trackname);
  color: white;
  font-weight: 600;
  font-family: Open Sans, sans-serif;
  font-size: 28px;
  opacity: 1;
}

.receiveSliderContainer input[type='range']::after {
  position: absolute;
  right: 8em;
  content: attr(data-volume);
  color: white;
  font-weight: 600;
  font-family: Open Sans, sans-serif;
  font-size: 28px;
  opacity: 1;
}

.receiveSliderContainer input[type='range']:focus,
.receiveSliderContainer input[type='number']:focus {
  box-shadow: 0 0 3px 1px #4b81dd;
  outline: none;
}

div.receiveSliderContainer {
  background: #262626;
  border-radius: 7rem;
  margin-top: 1em;
  margin-bottom: 1em;
  opacity: 0.5;
}

.receiveSliderContainer input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
  height: 2rem;
  background: #262626;
  border-radius: 7rem;
  padding-top: 2rem;
  padding-bottom: 2rem;

  background-image: linear-gradient(#333, #333);
  background-size: 70% 100%;
  background-repeat: no-repeat;
}

/* Input Thumb */
.receiveSliderContainer input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 7em;
  width: 7em;
  border-radius: 7rem;
  background: grey;
  cursor: ew-resize;
  transition: background 0.3s ease-in-out;
  opacity: 0.5;
}

.receiveSliderContainer input[type='range']::-moz-range-thumb {
  -webkit-appearance: none;
  height: 7em;
  width: 7em;
  border-radius: 7em;
  background: grey;
  cursor: ew-resize;
  transition: background 0.3s ease-in-out;
  opacity: 0.5;
}

.receiveSliderContainer input[type='range']::-ms-thumb {
  -webkit-appearance: none;
  height: 7em;
  width: 7em;
  border-radius: 7em;
  background: grey;
  cursor: ew-resize;
  transition: background 0.3s ease-in-out;
  opacity: 0.5;
}

.receiveSliderContainer input[type='range']::-webkit-slider-thumb:hover {
  background: grey;
}

.receiveSliderContainer input[type='range']::-moz-range-thumb:hover {
  background: grey;
}

.receiveSliderContainer input[type='range']::-ms-thumb:hover {
  background: grey;
}

/* Input Track */
.receiveSliderContainer input[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.receiveSliderContainer input[type='range']::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.receiveSliderContainer input[type='range']::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
